
.mt-20 {
	margin-top: 20px;
}

footer {
	height: 80px;
	margin-top: 50px;
}

footer>.container, footer .row {
	height: 100%;
}

.page-wrapper{
	margin: 50px auto;
	padding: 20px 15px;
	box-shadow: 0 0 10px #ccc;
	border-radius: 10px;
}

.page-wrapper h1{
	text-align: center;
	margin-bottom: 20px;
}

.card-block{
	padding: 15px;
}

.w100{
	width: 100%;
}

.w60 {
	width: 60%;
}

.w30{
	width: 30%;
}

.w20{
	width: 20%;
}

.w10{
	width: 10%;
}

.w5{
	width: 5%;
}

.articles{
	margin-top: 15px;
}

.article-inline{
	padding-left: 10px;
	flex-wrap: wrap;
}

.article-inline:nth-of-type(odd){
	background: rgba(0, 0, 0, 0.05);
}

.sight-container{
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
	padding: 15px 50px;
}

.sight-container h1{
	text-align: center;
}

.sight-container img{
	width: 100%;
}

.sight-container .date{
	font-weight: bold;
}

.map{
	height: 400px;
}

.login-container{
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
	margin-top: 50px;
	padding: 20px 15px 30px;
}

.login-container h1{
	text-align: center;
	margin-bottom: 20px;
}

#myTabContent{
	margin-top: 20px;
}

.image-gallery{
	margin-top: 2em;
	margin-left: 1.5em;
}

.heading{
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	color: rgba(0, 0, 0, 0.61);
}

.btn-primary{
	background-color: #059896;
	border: none;
}

.btn-outline-primary {
	background-color: #059896;
	color: white;
}

.btn-primary:hover{
	background-color: #047573;
}



.articles{
	flex-wrap: wrap;
}

.list-title{
	color: #059896;
}

.about-cards{
	text-align: center;
	color: #059896;
}

.main-title{
	color: #059896c2;
}

.about-us-title{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.admin-link {
	color: #059896;
}

